In [74]:
import pandas as pd

In [75]:
chl = pd.read_csv('chl.csv')
chl = chl[['Measurement Value']]
chl.dropna(inplace=True)
chl.rename(columns = {'Measurement Value':'Chl Measurement'}, inplace = True)
chl.head()

   Chl Measurement
1       -43.211117
3       -27.113966
6         0.000000
7       -29.437669
8        56.445046

In [76]:
covid = pd.read_csv('covid.csv')
covid = covid[['date', 'new_cases']]
covid.dropna(inplace=True)
covid.head()

         date  new_cases
0  2020-01-23        0.0
1  2020-01-24        1.0
2  2020-01-25        0.0
3  2020-01-26        3.0
4  2020-01-27        0.0

In [80]:
air = pd.read_csv('tokyo_air_quality.csv')
air = air[['measurement']]
chl.rename(columns = {'measurement':'Air Measurement'}, inplace = True)
air.dropna(inplace=True)

In [81]:
corr = covid_chl.corr()
corr.style.background_gradient(cmap='coolwarm')